/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.hero {
    /* text-align: center; */
    /* padding: 60px 20px; */
    text-align: center;
    background-image: url('assets/frontpg.png');
    background-size: cover;
    padding: 15rem 0; 
    
}

.join-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.content-section {
    text-align: center;
    padding: 40px 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature-box {
    width: 22%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-media-section,
.stylish-photos-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.social-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-content {
    width: 45%;
}

.style-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.style-box {
    /* width: 30%; */
    background-color: white;
    margin-left: 50px;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.free-trial-section {
    text-align: center;
    padding: 40px 20px;
}

.signup-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-links {
    list-style: none;
    display: flex;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

#para{
    text-align: left;
}
.social-media{
    margin-left:  700px ;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

.social-media-icons a {
       color: white;
   }
